<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName" default-lazy-init="false">

    <!--  	<context:annotation-config />-->
    <!-- 使用注解一般都会配置扫描包路径选项 -->
    <context:component-scan base-package="com.hhigh.palette_v2"/>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="org.sqlite.JDBC" />
        <property name="url" value="jdbc:sqlite:com/hhigh/palette_v2/db/Palette.db" />
        <property name="maxIdle" value="10"/>
        <property name="maxActive" value="100"/>
        <property name="maxWait" value="10000"/>
        <property name="validationQuery" value="select 1"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="1200000"/>
        <property name="minEvictableIdleTimeMillis" value="1800000"/>
        <property name="numTestsPerEvictionRun" value="5"/>
        <property name="defaultAutoCommit" value="true"/>
    </bean>
    <!--
        BasicDataSource提供了close()方法关闭数据源，所以必须设定destroy-method=”close”属性，
        以便Spring容器关闭时，数据源能够正常关闭。除以上必须的数据源属性外，
         还有一些常用的属性：
        defaultAutoCommit：设置从数据源中返回的连接是否采用自动提交机制，默认值为 true；
        defaultReadOnly：设置数据源是否仅能执行只读操作， 默认值为 false；
        maxActive：最大连接数据库连接数，设置为0时，表示没有限制；
        maxIdle：最大等待连接中的数量，设置为0时，表示没有限制；
        maxWait：最大等待秒数，单位为毫秒， 超过时间会报出错误信息；
        validationQuery：用于验证连接是否成功的查询SQL语句，SQL语句必须至少要返回一行数据，
                          如你可以简单地设置为：“select count(*) from user”；
        removeAbandoned：是否自我中断，默认是 false ；
        removeAbandonedTimeout：几秒后数据连接会自动断开，在removeAbandoned为true，提供该值；
        logAbandoned：是否记录中断事件， 默认为 false；
     -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource">
            <ref local="dataSource" />
        </property>
    </bean>
</beans>