<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhigh.palette_v2.persistence.PaletteMapper">
    <resultMap type="com.hhigh.palette_v2.domain.Palette" id="paletteMapper">
        <result column="name" property="name"/>
        <result column="color" property="color"/>
    </resultMap>

    <select id="getall" resultMap="paletteMapper">
        SELECT *
        FROM records
    </select>
    <insert id="save" parameterType="com.hhigh.palette_v2.domain.Palette">
        INSERT INTO records (name, color) VALUES (#{name}, #{color})
    </insert>
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM records
        WHERE id = #{id}
    </delete>
    <update id="update" parameterType="com.hhigh.palette_v2.domain.Palette">
        UPDATE records SET name=#{name}, color=#{color} WHERE id=#{id}
    </update>

</mapper>