/* CSS Document */
/*分页*/
#pageGro{margin:0px auto;}
#pageGro div,#pageGro div ul li{ font-size:12px; color:#999; line-height:23px; float:left; margin-left:5px;}
#pageGro div ul li{ width:22px; text-align:center; border:1px solid #999; cursor:pointer;}
#pageGro div ul li.on{ color:#fff; background:#3c90d9; border:1px solid #3c90d9;}
#pageGro .pageUp,#pageGro .pageDown{ width:60px; border:1px solid #999; cursor:pointer;}
#pageDown,#pageGro .first,#pageGro .last{ width:46px; border:1px solid #999; cursor:pointer;}
#pageGro .pageUp,#pageGro .first{ text-indent:18px; background:url(/images/pageUp.png) 2px 7px no-repeat;}
#pageGro .pageDown{ text-indent:5px; background:url(/images/pageDown.png) 43px 6px no-repeat;}
#pageGro .last{ text-indent:5px; background:url(/images/pageDown.png) 29px 6px no-repeat;}
