<!DOCTYPE html>
<!--suppress JSJQueryEfficiency -->
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=3.2.0" rel="stylesheet">
    <script src="js/json2.js"></script>
    <script src="js/angular-1.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/pageGroup.css"/>
    <script type="text/javascript" src="js/pageGroup.js"></script>
    <style type="text/css">
        .sortth{
            cursor: pointer;
        }
    </style>
    <title>RGB调色板</title>
    <script>
        var datas;
        var pagesize = 5;
        function refresh() {
            var ele = document.querySelector("[ng-controller=tablectrl]");
            angular.element(ele).scope().update();
        }
        function tablectrl($scope) {
            $scope.col = 'id';//默认按编号列排序
            $scope.desc = 0;//默认排序条件升序
            $scope.update = function () {
                $scope.records = datas;
                $scope.$apply();
            };
            $scope.records = datas;
        }
        function getdatas() {
            refreshpager();
            method(1);
        }
        function cast16(e) {
            if (Number(e) < 10) {
                return "0" + Number(e).toString(16)
            } else {
                return Number(e).toString(16)
            }
        }
        function getcurrectcolor() {
            $("#red_hex").text(function () {
                return cast16($("#red").val());
            });
            $("#green_hex").text(function () {
                return cast16($("#green").val());
            });
            $("#blue_hex").text(function () {
                return cast16($("#blue").val());
            });
            return newcolor = "#" + $("#red_hex").text() + $("#green_hex").text() + $("#blue_hex").text();
        }
        function fresh() {
            $("#palette").css("background", getcurrectcolor());
        }

        $(function () {
            $(document).ready(function () {
                getdatas();
            });
            $.event.special.valuechange = {

                teardown: function (namespaces) {
                    $(this).unbind('.valuechange');
                },

                handler: function (e) {
                    $.event.special.valuechange.triggerChanged($(this));
                },

                add: function (obj) {
                    $(this).on('keyup.valuechange cut.valuechange paste.valuechange input.valuechange',
                            obj.selector, $.event.special.valuechange.handler)
                },

                triggerChanged: function (element) {
                    var current = element[0].contentEditable === 'true' ? element.html() : element.val()
                            , previous = typeof element.data('previous') === 'undefined' ? element[0].defaultValue : element.data('previous')
                    if (current !== previous) {
                        element.trigger('valuechange', [element.data('previous')])
                        element.data('previous', current)
                    }
                }
            }
            $("#red").change(function () {
                $("#red_text").val($("#red").val());
                fresh();
            });
            $("#green").change(function () {
                $("#green_text").val($("#green").val());
                fresh();
            });
            $("#blue").change(function () {
                $("#blue_text").val($("#blue").val());
                fresh();
            });
            $("#red_text").on('valuechange', function (e, previous) {
                $("#red").val($("#red_text").val());
                fresh();
            });
            $("#green_text").on('valuechange', function (e, previous) {
                $("#green").val($("#green_text").val());
                fresh();
            });
            $("#blue_text").on('valuechange', function (e, previous) {
                $("#blue").val($("#blue_text").val());
                fresh();
            });
            $("#save").click(function () {
                if (confirm("是否保存？")) {
                    var obj = {
                        "id":"",
                        "name": $("#name").val(),
                        "color": getcurrectcolor()
                    };
                    $.ajax({
                        type: "post",
                        url: "mvc/PaletteController/save",
                        dataType:"json",
                        contentType:"application/json",
                        data: JSON.stringify(obj),
                        success: function (data) {
                            getdatas();
                        },
                        error: function (e) {
                            alert(JSON.stringify(e));
                        }
                    });
                }
            });
            $("#myform").submit(function () {
                if (confirm("是否保存？")) {
                    $.ajax({
                        type: "post",
                        headers:{
                            "Accept":"application/json"
                        },
                        url: "mvc/PaletteController/update",
                        scriptCharset: 'UTF-8',
                        dataType: 'json',
                        data: $("#myform").serialize(),
                    });
                }
            });
            $("#input_auto").on('valuechange', function (e, previous) {
                if($.trim($("#input_auto").val()).length<1){
                    $("#pageGro").show();
                    getdatas();
                    refreshpager();
                }else{
                    $("#pageGro").hide();
                    $.ajax({
                        url: "mvc/PaletteController/autosearch",
                        scriptCharset: 'UTF-8',
                        dataType: 'json',
                        data:{
                            input_auto:$("#input_auto").val()
                        },
                        success: function (data) {
                            datas = data;
                            refresh();
                        },
                        error: function (e) {
                            alert(JSON.stringify(e));
                        }
                    });
                }
            });
        });
        function deleterow(node) {
            var recordtable = document.getElementById("recordtable");
            var tr1 = node.parentNode.parentNode;
            var id = tr1.cells[0].innerText;
            if (confirm("是否删除？")) {
                $.ajax({
                    url: "mvc/PaletteController/delete",
                    scriptCharset: 'UTF-8',
                    data: {id: id},
                    success: function (data) {
                        getdatas();
                    },
                    error: function (e) {
                        alert(JSON.stringify(e));
                    }
                });
            }
        }
        function cover(node) {
            var recordtable = document.getElementById("recordtable");
            var tr1 = node.parentNode.parentNode;
            var id = tr1.cells[0].innerText;
            if (confirm("是否覆盖？")) {
                $.ajax({
                    url: "mvc/PaletteController/update",
                    scriptCharset: 'UTF-8',
                    dataType: 'json',
                    data: {id: id, color: getcurrectcolor(), name: $("#name").val()},
                    success: function (data) {
                        getdatas();
                    },
                    error: function (e) {
                        alert(e);
                    }
                });
            }
        }
        function use(node) {
            var tr1 = node.parentNode.parentNode;
//            alert(tr1.cells[0].childNodes[0].value); //获取的方法一
            var color = tr1.cells[3].innerText;
            var name = tr1.cells[1].innerText;
            $("#name").val(name);
            var rgb = Sixteen2RGB(color);
            $("#red").val(rgb[0]);
            $("#green").val(rgb[1]);
            $("#blue").val(rgb[2]);
            $("#red_text").val($("#red").val());
            $("#green_text").val($("#green").val());
            $("#blue_text").val($("#blue").val());
            fresh();
        }
        function edit(node) {
            height = "300px";
            width = "400px";
            var tr1 = node.parentNode.parentNode;
            $("#m_id").val(tr1.cells[0].innerText);
            $("#m_name").val(tr1.cells[1].innerText);
            $("#m_color").val(tr1.cells[3].innerText);
            $("#myModal").modal('show');
        }
        function Sixteen2RGB(a) {
            if (a.substr(0, 1) == "#") {
                a = a.substring(1);
            }
            b = [];
            for (x = 0; x < 3; x++) {
                b[0] = a.substr(x * 2, 2);
                b[3] = "0123456789abcdef";
                b[1] = b[0].substr(0, 1);
                b[2] = b[0].substr(1, 1);
                b[20 + x] = b[3].indexOf(b[1]) * 16 + b[3].indexOf(b[2])
            }
            c = {0: b[20], 1: b[21], 2: b[22]};
            return c;
        }
        function keyup(e) {
            e.value = e.value.replace(/\D/g, '');
            if (e.value > 255) {
                e.value = 255;
            } else if (e.value < 0) {
                e.value = 0;
            }
        }
        function beforepaste(e) {
            var data = clipboardData.getData('text');
            data = data.replace(/\D/g, '');
            if (data > 255) {
                data = 255;
            } else if (data < 0) {
                data = 0;
            }
            clipboardData.setData(data);
        }
        function refreshpager() {
            $.ajax({
                url: "mvc/PaletteController/getrowcount",
                scriptCharset: 'UTF-8',
                async: false,
                dataType: 'json',
                data:{
                    input_name:$("#input_name").val(),
                    input_color:$("#input_color").val()
                },
                success: function (jsonrowcount) {
                    rowcount = jsonrowcount.rowcount;
                    $("#pagecount").text(parseInt((rowcount - 1) / pagesize) + 1);
                },
                error: function (e) {
                    alert(JSON.stringify(e));
                }
            });
            var pageCount = $("#pagecount").text();//模拟后台总页数
            //生成分页按钮
            if (pageCount > 5) {
                flag = true;
                page_icon(1, 5, 0);
            } else {
                flag = true;
                page_icon(1, pageCount, 0);
            }
        }
        function method(index) {
            $.ajax({
                url: "mvc/PaletteController/getByPage",
                scriptCharset: 'UTF-8',
                async: false,
                dataType: 'json',
                data:{
                    page:index,
                    pagesize:this.pagesize,
                    input_name:$("#input_name").val(),
                    input_color:$("#input_color").val()
                },
                success: function (data) {
                    datas = data;
                    refresh();
                },
                error: function (e) {
                    alert(JSON.stringify(e));
                }
            });
        }
    </script>
</head>
<body class="gray-bg">
<div class="wrapper animated fadeInRight" ng-app="">
    <div class="row"><h1 style="text-align: center">RGB调色板</h1></div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <table class="table table-bordered" style="margin-bottom: 10px">
                <tr>
                    <td rowspan="4" id="palette" bgcolor="#000000"></td>
                    <td><label class="control-label">红色：</label></td>
                    <td><input type="range" id="red" max="255" min="0" step="1" value="0"></td>
                    <td><input type="text" onkeyup="keyup(this)" onbeforepaste="beforepaste(this)"
                               class="form-control" id="red_text" value="0"></td>
                    <td><label class="control-label" style="width: 6px" id="red_hex">00</label></td>
                </tr>
                <tr>
                    <td><label class="control-label">绿色：</label></td>
                    <td><input type="range" id="green" max="255" min="0" step="1" value="0"></td>
                    <td><input type="text" onkeyup="keyup(this)" onbeforepaste="beforepaste(this)"
                               class="form-control" id="green_text" value="0"></td>
                    <td><label class="control-label" style="width: 6px" id="green_hex">00</label></td>
                </tr>
                <tr>
                    <td><label class="control-label">蓝色：</label></td>
                    <td><input type="range" id="blue" max="255" min="0" step="1" value="0"></td>
                    <td><input type="text" onkeyup="keyup(this)" onbeforepaste="beforepaste(this)"
                               class="form-control" id="blue_text" value="0"></td>
                    <td><label class="control-label" style="width: 6px" id="blue_hex">00</label></td>
                </tr>
                <tr>
                    <td><label class="control-label">名称：</label></td>
                    <td><input type="text" class="form-control" id="name"></td>
                    <td><button class="spinner-buttons" id="save">保存当前配色</button></td>
                    <td><label id="pagecount" style="visibility: hidden"></label></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row col-sm-6 col-sm-offset-3">
        <table class="table" style="border: hidden; margin-bottom: 10px">
            <tr>
                <td><input id="input_auto" class="form-control pull-right" type="text" placeholder="自动查询"></td>
                <td><input id="input_name" class="form-control pull-right" type="text" placeholder="按名称查询"></td>
                <td><input id="input_color" class="form-control pull-right" type="text" placeholder="按颜色查询"></td>
                <td><input class="spinner-buttons pull-right" onclick="getdatas()" type="button" value="查询"></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" ng-controller="tablectrl">
            <table class="table table-bordered table-striped" id="recordtable">
                <tr class="alert-info">
                    <th class="sortth" ng-click="col='id';desc=!desc">编号
                        <img src="images/asc.gif" ng-show="col=='id'&&!desc"><img src="images/desc.gif" ng-show="col=='id'&&desc"></th>
                    <th class="sortth" ng-click="col='name';desc=!desc">名称
                        <img src="images/asc.gif" ng-show="col=='name'&&!desc"><img src="images/desc.gif" ng-show="col=='name'&&desc"></th>
                    <th>颜色</th>
                    <th class="sortth" ng-click="col='color';desc=!desc">颜色编码
                        <img src="images/asc.gif" ng-show="col=='color'&&!desc"><img src="images/desc.gif" ng-show="col=='color'&&desc"></th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="x in records|orderBy:col:desc">
                    <td>{{x.id}}</td>
                    <td>{{x.name}}</td>
                    <td bgcolor="{{x.color}}"></td>
                    <td>{{x.color}}</td>
                    <td>
                        <button onclick="use(this)">使用</button>
                        <button onclick="cover(this)">覆盖</button>
                        <button onclick="deleterow(this)">删除</button>
                        <button onclick="edit(this)">修改</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
        <div id="pageGro" class="cb center-block" style="width: 300px">
            <div class="pageUp">上一页</div>
            <div class="pageList">
                <ul id="list" class="list-unstyled" style="list-style: none">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
            <div class="pageDown">下一页</div>
        </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改颜色</h4>
            </div>
            <form id="myform">
                <div class="modal-body">
                    <table class="table table-bordered">
                        <tr class="alert-info">
                            <th>编号</th>
                            <th>名称</th>
                            <th>颜色编码</th>
                        </tr>
                        <tr>
                            <td><input name="id" id="m_id" value="#" readonly="readonly"></td>
                            <td><input name="name" id="m_name" value="name" autocomplete="off"></td>
                            <td><input name="color" id="m_color" value="color" autocomplete="off"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">提交更改</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>